<div>
  <button mat-button>Click it!</button>
  <button mat-raised-button>Click it!</button>
  <button mat-flat-button>Click it!</button>
  <button mat-stroked-button>Click it!</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Minifab</button>
</div>

<div>
  <button color="primary" mat-button>Primary it!</button>
  <button color="accent" disableRipple mat-button>Accent it!</button>
  <button color="warn" mat-button>Warn it!</button>
</div>